h1 {
    border: 2px #eee solid;
    color: #941c1c;
    text-align: center;
    padding: 10px;
}

h2 {
    border: 2px #faf5f5 solid;
    color: #0a0303;
    text-align: center;
    padding: 10px;
}
