{% extends 'base.html' %}

{% block content %}
<br>
    <h1 style="color: #112860">{% block title %} About Creator {% endblock %}</h1>
    <h2 style="color: #193a8d">
    I am Saushkin Denis and I am first-year student at MIPT. <br>
    This website is my python project in institute. <br>
    I took the code from the seminar and from digitalocean.com <br> as a sample and add new  functionality. <br>
    </h2>
    <h4 style="color: #112860"> My email: saushkin.di@phystech.edu </h4>
{% endblock %}
